@font-face {
    font-family: '이쁜폰트';
    src: url(../font/Euclid Circular A Regular.ttf);
}

body {
    margin: 0;
    font-family: '이쁜폰트';
}

main {
    height: 100vh;
    perspective: 2px;
}

section {
    transform-style: preserve-3d;
    position: relative;
    height: 75vh;
    display: grid;
    place-items: center;
}


.no-parallax {
    background: #111111;
    z-index: 1;
    color: #f9f9f9;
}

.parallax {
    height: 50vh;
}

.parallax::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
}

.bg::after {
    background: url(../img/flower.png);
    background-size: cover;
}
