

.profileImg {
    width: 150px;
    display: block;
    margin: auto;
}

.profileName {
    letter-spacing: 2px;
}

.content {
    text-align: center;
}

.profileContent {
    display: flex;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;

}
