@font-face {
    font-family: '이쁜폰트';
    src: url(../font/NanumSquareR.woff);
}

body {
    margin: 0px;
    font-family: '이쁜폰트';
    /*    font-family: 'Raleway', sans-serif;*/
}

/*안티앨리어싱(폰트를 부드럽게 보이게해줌*/
p,
h4,
h3,
h2,
h1,
span {
    transform: rotate(0.03deg);
}

div {
    box-sizing: border-box;
}

/*
input {
    box-sizing: border-box;
}

textarea {
    box-sizing: border-box;
}
*/



.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}

.main-background > h4,
.main-background > p {
    text-align: center;
}

.main-title {
    color: white;
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 60px;
}

.main-content {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255, 0.6);
}

.content-box {
    width: 80%;
    max-width: 1100px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.main-btn {
    display: block;
    margin: auto;
    width: 100px;
    height: 40px;
    border: 2px solid green;
    border-radius: 10px;
}



.sub-background {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #eee;
    margin-top: 80px;
}

.sub-background h4 {
    text-align: center;
}

.sub-background p {
    text-align: justify;
}



.input-content {
    width: 100%;
    /*    height: 1000px;*/
    background: lightgrey;
    padding: 55px;
    text
}

.input-form {
    width: 500px;
    max-width: 700px;
    height: 600px;
    background: #eee;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-form p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #6a6767;
}

.input-form input {
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    padding: 10px;
    border: 2px solid lightgray;
}

.input-title {
    font-size: 35px;
}

.input-title h4 {
    margin: 0px 0px 50px 0px;
}

.input-email > input {
    width: 95%;
}

.input-firstName {
    float: left;
}

.input-firstName input,
.input-lastName input {
    width: 200px;
}

.input-lastName {
    float: right;
    /*    margin-left: 80px;*/
}

.input-text input {
    border: 2px solid lightgray;
    width: 95%;
    height: 170px;
}

.input-checkbox > input {
    margin: 20px 5px 0px 0px;
    /*    height: 20px;*/
    width: 20px;
}

.input-checkbox label {
    position: relative;
    top: -8px;
}

#submit {
    float: right;
    color: white;
    width: 150px;
    height: 50px;
    background: orange;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid orange;
}

.input-checkbox {
    float: left;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

.cart-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #c2d3de;
    padding: 30px 315px 30px 315px;
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
}

.cart-header {
    width: 100%;
    /*    text-align: center;*/
    margin-bottom: 20px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.cart-table td,
.cart-table th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

.cart-table th:nth-child(2) {
    width: 400px;
}

.cart-title {
    color: #c2d3de;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.total {
    font-weight: bold;
    color: darkblue;
}

.price {
    color: #c2d3de;
    font-weight: 600;
}

.table-btn {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

/*마우스를 올렸을 때 상태를 변경*/
.table-btn:hover {
    background-color: chocolate;
}

/*마우스가 포커싱된 상태를 변경*/
.table-btn:focus {
    background-color: red;
}

/*마우스를 클릭 중 상태를 변경*/
.table-btn:active {
    background-color: brown;
}

.custom-link {
    text-decoration: none;
}

/*방문 전 링크 스타일링 : link*/
/*방문 후 링크 스타일링 : visited*/

.flex-item {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #FF7678;
}

/*
    display: flex;
    justify-content: 가로정렬
    align-items: 상하정렬
*/

.nav-container {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
    background: #FF7678;
}

.nav-item {
    margin-right: 10px;
    padding: 20px;
    font-weight: 600;
    color: white;
}

.nav-first {
    font-size: 50px;
}

.nav-etc {
    font-size: 30px;
}

.nav-box {
    /*
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: space-around;
*/
    width: 80%;
    background: #eee;
    max-width: 1000px;
    margin: auto;
}

.nav-boxitem {
    float: left;
    width: 25%;
    text-align: center;
    padding: 50px;
}

.nav-boxitem i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 10px;
}

.shop-bg {
    background: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    /*    이미지 아래 보이지 않는 공간(선)이 있음 block으로 처리*/
    display: block;
}

/*
.overlay {
    //position: absolute는 상위relative 기준으로 붙음
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

.overlay:hover {
    opacity: 1;
}
*/

.overlay-wrap {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.overlay-black {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 100%;
    transition: all 1s;
}

.overlay-wrap:hover .overlay-black {
    margin-top: 50%;
}

/*반응형 웹페이지*/
/*media query 문법은 항상 밑에 있어야 함*/
@media screen and (max-width: 1200px) {

    /*
    .nav-box {
        flex-wrap: wrap;
    }

    .nav-boxitem {
        width: 400px;
    }
*/
    .nav-boxitem {
        width: 50%;
    }

    .cart-background {
        padding: 30px 50px 30px 50px;
    }
}

@media screen and (max-width:768px) {
    .nav-boxitem {
        width: 100%;
        margin: 10px;
    }

    .cart-background {
        padding: 30px 100px 30px 100px;
    }
}


